beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
duckduckgo_search==7.5.2
filelock==3.18.0
fsspec==2025.3.0
grpcio==1.69.0
huggingface-hub==0.29.3
idna==3.10
Jinja2==3.1.6
lxml==5.3.1
markdown-it-py==3.0.0
markdownify==1.1.0
MarkupSafe==3.0.2
mdurl==0.1.2
numpy==2.2.4
packaging==24.2
pandas==2.2.3
pillow==11.1.0
primp==0.14.0
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
six==1.17.0
-e git+ssh://git@github.com/huggingface/smolagents.git@80e387f446fffb998b776460078755f5b49c624f#egg=smolagents
soupsieve==2.6
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
